body {
    background-image: url(assets/damenceiling.jpg);
    background-color: #0f0f0f;
    /* background-size: 80% 80%; */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Noto Serif JP', serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    color: #D3D0D0;
}

/* width: 100vw;
height: 100vh; 
background-size: 100% 100%;
background-repeat: no-repeat;
position: relative;
} */

.pink {
    background-color: darkgray;
}

.content {
    padding-top: 7%;
    padding-bottom: 7%;
    text-align: center;
}

.profile {
    width: 400px;
    height: 500px;
    align-content: flex-end;
}

h2, h3{
    font-weight: 700;
}


img {
    width: 480px;  
    height: 640px;
}

.socials {
    margin-top: 180px;
    text-align: center;
    padding-top: 50%;
}
.fa, .bi {
    font-size: 26px;
}

p {
    font-size: 1.3rem;
}





